<h1><%= @feature.name %></h1>
<% if @feature.date_finished.blank? %>
  <%= simple_form_for(@feature) do |f| %>
    <%= f.input_field :date_finished, as: :hidden, value: Date.today %>
    <%= f.submit "Complete" %>
  <% end %>
<% else %>
  <%= simple_form_for(@feature) do |f| %>
    <%= f.input_field :date_finished, as: :hidden, value: nil %>
    <%= f.submit "Completed" %>
  <% end %>
<% end %>
