<div class="container mt-5">
  <div class="mb-4">
    <div class="d-flex flex-row justify-content-between">
      <h1 class="text-left fw-bold"><%= @project.name %></h1>
      <%= link_to "Add feature", "#", class: "btn btn-primary align-self-center" %>
    </div>
    <p class="fw-bold mb-0"> <%= @features.find(params[:project_id]).summary %></p>
  </div>
  <% @features.each do |feature| %>
    <div class="d-flex flex-row gap-3 align-items-center my-1">
      <% if feature.date_finished.blank? %>
        <%= simple_form_for(feature) do |f| %>
          <%= f.input_field :date_finished, as: :hidden, value: Date.today %>
          <button type="submit" class=""><i class="fa-regular fa-square"></i></button>
        <% end %>
      <% else %>
        <%= simple_form_for(feature) do |f| %>
          <%= f.input_field :date_finished, as: :hidden, value: nil %>
          <button type="submit">
            <i class="fa-solid fa-square-check"></i>
          </button>
        <% end %>
      <% end %>
      <%= link_to feature_path(feature), class: "text-decoration-none text-dark" do %>
        <h3><%= feature.name %></h3>
      <% end %>
      <p>Date Created: <%= feature.date_finished %> </p>
    </div>
  <% end %>
</div>
