<div class="container">
  <h1><%= @feature.name %></h1>
  <h2>What do you need help with?</h2>
  <%= simple_form_for [@feature, @message] do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
  <div class="mt-3">
    <% @feature.messages.each do |message| %>
      <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
          <div class="bg-white px-3 py-2 rounded-pill">
            <%= message.content %>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-start mb-2">
          <div class="bg-dark text-white px-3 py-2 rounded-pill">
            <%= message.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
